<div class="col-lg-6">
    <div class="comment_list">
    {% if comments %}
        {% for cm in comments %}
        <div class="review_item">
            <div class="media">
                <div class="d-flex">
                    <img src="../../../static/img/product/review-1.png" alt="">
                </div>
                <div class="media-body">
                    <h4>{{ cm.user_name}}</h4>
                    <h5>{{ cm.create_date }}</h5>
                    <a class="reply_btn" href="#">Reply</a>
                </div>
            </div>
            <p>{{ cm.message }}</p>
        </div>
        {% endfor %}

        {% else %}
        <p class="alert alert-dark">No comments yet</p>
    {% endif %}

{#        <div class="review_item reply">#}
{#            <div class="media">#}
{#                <div class="d-flex">#}
{#                    <img src="../../../static/img/product/review-2.png" alt="">#}
{#                </div>#}
{#                <div class="media-body">#}
{#                    <h4>Blake Ruiz</h4>#}
{#                    <h5>12th Feb, 2018 at 05:56 pm</h5>#}
{#                    <a class="reply_btn" href="#">Reply</a>#}
{#                </div>#}
{#            </div>#}
{#            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et#}
{#                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip#}
{#                ex ea#}
{#                commodo</p>#}
{#        </div>#}
{#        <div class="review_item">#}
{#            <div class="media">#}
{#                <div class="d-flex">#}
{#                    <img src="../../../static/img/product/review-3.png" alt="">#}
{#                </div>#}
{#                <div class="media-body">#}
{#                    <h4>Blake Ruiz</h4>#}
{#                    <h5>12th Feb, 2018 at 05:56 pm</h5>#}
{#                    <a class="reply_btn" href="#">Reply</a>#}
{#                </div>#}
{#            </div>#}
{#            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et#}
{#                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip#}
{#                ex ea#}
{#                commodo</p>#}
{#        </div>#}
    </div>
</div>