  <script src="/static/vendors/jquery/jquery-3.2.1.min.js"></script>
  <script src="/static/vendors/bootstrap/bootstrap.bundle.min.js"></script>
  <script src="/static/vendors/skrollr.min.js"></script>
  <script src="/static/vendors/owl-carousel/owl.carousel.min.js"></script>
  <script src="/static/vendors/nice-select/jquery.nice-select.min.js"></script>
  <script src="/static/vendors/nouislider/nouislider.min.js"></script>
  <script src="/static/vendors/jquery.ajaxchimp.min.js"></script>
  <script src="/static/vendors/mail-script.js"></script>
  <script src="/static/js/main.js"></script>